<html>
<head>
<style>
body {background-color: powderblue;}
h2  {color: black;}
p1    {color: pink;}
</style>
</head>
<body>

<h1>This is a new css</h1>
<p>This is a cascading style sheet.</p>

</body>
</html>